
@font-face{
    font-family:Prueba;
    src: url(Caveat.ttf);
}

.body{
    display: flex;
    height: 1000px;
    background-image: url(https://img.freepik.com/foto-gratis/mujer-joven-relajante-naturaleza_23-2149066303.jpg?w=740&t=st=1684360320~exp=1684360920~hmac=e13f5b31d41ca3f71f3a8e18f76aa54b9630d0045dafc1040a7fb6a9cf3dbd29);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    
    
}
.name{
    padding: 10px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-family:Prueba;

           
}

.title{

    display: inline;
    padding: 10px;
    position: relative;
    right: 30%; left:15px; width: 80%;top:200px;
    color: rgb(255, 255, 255);
    font-family:Prueba;
    font-size: 30px;
    

}

.label{
    
    padding: 10px;
    position: relative;
    right: 200%; width: 80%;top:400px;
    background: none;
    font-size: 50px;
    size: "32";

    
}

.email{
    padding: 10px;
    position: relative;
    right: 200%; width: 80%;top:350px;
    background: none;
    font-size: 50px;

}

/* .boton{
    padding: 10px;
    position: relative;
    right: 200%; width: 80%;top:350px;
    background: none;
    font-size: 50px;
} */

.foot{
    position: relative;
    bottom: 80px;left: 50px;
    color:rgb(255, 255, 255);
   
}

