


@font-face {
    font-family: Prueba;
    src: url(Caveat.ttf);
}


.body {
    min-height: auto;
    min-height: auto;
    display: flex;
    background-image: url(https://img.freepik.com/foto-gratis/recreacion-montanas-al-atardecer-verano_651396-2308.jpg?w=740&t=st=1684451903~exp=1684452503~hmac=446a98c281497dc0068e2f948e91f2b0c7acf635a37f37aaad4f009a7e25dcc2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



}

.name {
    text-align: justify;
    padding: 50px;
    color: rgb(0, 0, 0);
    font-family: Prueba;


}

.title {

    display: inline;
    text-align: justify;
    padding: 10px;
    position: relative;
    right: 30%;
    left: 15px;
    width: 80%;
    top: 300px;
    color: rgb(255, 255, 255);
    font-family: Prueba;
    font-size: 38px;


}

.summary {

    display: block;
    text-align: justify;
    padding: 15px;
    position: relative;
    right: 760px;
    left: 15px;
    width: 80%;
    top: 300px;
    color: rgb(255, 255, 255);
    font-family: Prueba;
    font-size: 20px;

}


.form-group {
    margin-bottom: 20px;


}

input[type="text"],
input[type="email"] {

    position: relative;
    left: 50px;
    top: 300px;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
   

button {

    position: relative;
    left: 50px;
    top: 300px;
    padding: 10px 20px;
    background-color: #f1621f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-networks {

    text-align: justify;
    margin-top: 300px;
    left: 50px;
}

.social-networks img {
    width: 200px;
    margin: 0 10px;
}

.foot {
    
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Prueba;

}